ul.dashboard
	h2( ng-show="subState.tracker" ) Personal Stats
	h2( ng-show="subState.discover" ) Community Stats
	li.account-total
		span.label( ng-class=" { pos: accountValue > 0, neg: accountValue < 0 } " ) P/L Total
		p.value( ng-class=" { pos: accountValue > 0, neg: accountValue < 0 } " ) {{ accountValue }}
	li.average-trade-size
		span.label Avg. Trade Size
		p.value( ) {{ avgTradeSize }}
	li.average-win
		span.label Avg. Win
		p.value( class="pos" ) {{ avgWin }}
	li.average-loss
		span.label Avg. Loss
		p.value( class="neg" ) {{ avgLoss }}