ul.dashboard
	li.account-total
		span.label Account Total
		p.value( ng-class=" { pos: accountValue > 0, neg: accountValue < 0 } " ) {{ accountValue }}
	li.average-win
		span.label Average Win
		p.value( ng-class=" { pos: accountValue > 0, neg: accountValue < 0 } " ) 0
	li.average-loss
		span.label Average Loss
		p.value( ng-class=" { pos: accountValue > 0, neg: accountValue < 0 } " ) 0
	li.average-trade-size
		span.label Average Trade Size
		p.value( ng-class=" { pos: accountValue > 0, neg: accountValue < 0 } " ) 0