a-dashboard {
	position: fixed;
	width: 300px;
	margin: $padding 0px;
	padding: $padding;
	z-index: 10;
	background: white;
}

.pos {
	color: $mint;
}
.neg {
	color: $pred;
}

.dashboard {
	flex-flow: column;

	display: flex;
	li {
		box-sizing: border-box;
		cursor: hand;
		cursor: pointer;
		margin-right: 5px;
		margin-bottom: 15px;

		color: $dark-grey;
		font-weight: 100;
		font-family: $sans-serif;

		transition: $hover-transition;
	}
	li:last-of-type {
		margin-right: 0px;
		margin-bottom: 0px;
		border-right: 0px solid $dark-grey;
	}
	.label {
		margin-bottom: 5px;

		font-weight: bold;
		font-size: 13px;
	}
	.value {
		font-weight: 100;
		font-size: 18px;
		letter-spacing: 0.5px;
	}
	.average-win {
		.label {
			color: $mint;
		}
	}
	.average-loss {
		.label {
			color: $pred;
		}
	}
}

@media (max-width: $media-phone) {
	.dashboard {
		flex-flow: row;
		flex-wrap: wrap;

		width: 100%;
		padding: 0px;

		li,
		li:last-of-type {
			width: 50%;
			max-width: inherit;
			margin: 0;
			border-radius: 0px;
		}
		.label {
			font-size: 11px;
		}
	}
}
