a-dashboard {
	flex-flow: column;

	display: flex;
	position: fixed;
	width: 300px;
	padding: $padding;
	z-index: 10;
	border-radius: 3px;
	background: rgba( 255,255,255, 0.1 );

	text-align: right;
}

.pos {
	color: $mint;
}
.neg {
	color: $pred;
}

.dashboard {
	flex-flow: column;

	display: flex;
	h2 {
		margin-bottom: 15px;
		padding-bottom: 2px;

		color: rgba( 0, 0, 0, 0.4 );
		font-size: 12px;
		text-align: left;
	}
	li {
		flex-flow: column;

		display: flex;
		box-sizing: border-box;
		cursor: hand;
		cursor: pointer;
		margin-right: 5px;
		margin-bottom: 15px;

		color: $dark-grey;
		font-weight: 100;
		font-family: $sans-serif;

		transition: $hover-transition;
	}
	li:last-of-type {
		margin-bottom: 0px;
		border-right: 0px solid $dark-grey;
	}
	.label {
		margin-bottom: 5px;

		font-weight: bold;
		font-size: 13px;
		text-align: left;
	}
	.value {
		padding-bottom: 3px;
		border-bottom: 1px solid rgba( 255,255,255, 0.5 );

		font-weight: 100;
		font-size: 18px;
		letter-spacing: 0.5px;
	}
	li:last-of-type {
		.value {
			border-bottom: 1px solid rgba( 255,255,255, 0 );
		}
	}
	.average-win {
		.label {
			color: $mint;
		}
	}
	.average-loss {
		.label {
			color: $pred;
		}
	}
}

@media (max-width: $media-phone) {
	.dashboard {
		flex-flow: row;
		flex-wrap: wrap;

		width: 100%;
		padding: 0px;

		li,
		li:last-of-type {
			width: 50%;
			max-width: inherit;
			margin: 0;
			border-radius: 0px;
		}
		.label {
			font-size: 11px;
		}
	}
}
