a-tradelist {
	flex-flow: column;

	display: flex;
}

.add-trade,
.trade {
	// box-shadow: $shadow;
	transition: $hover-transition;
}
.add-trade {
	position: absolute;
	width: 100%;
	z-index: 15;
}
// .add-trade:hover,
// .trade:hover {
// 	box-shadow: $shadow-hover;
// }

.tracker-tradelist {
	width: calc(100% - 300px - #{$padding});
	margin-left: auto;
}

.trades {
	position: relative;
	width: 100%;
	margin-left: auto;
	select {
		-webkit-appearance: none;
	}
	input,
	select,
	p {
		align-items: center;

		padding: 5px 0px;
		outline: 0;
		border: 0;
		background: transparent;

		font-size: 12px;
		line-height: 20px;
	}
	.label {
		display: none;
		margin-bottom: 15px;
	}
	.trade,
	.add-trade {
		margin-bottom: 30px;
		border-radius: 5px;
	}
	.add-trade {
		padding: calc( #{$padding} * calc(1.5/3) ) $padding;
		background-color: #f2f2f2;
	}
	.trade:last-of-type {
		margin-bottom: 0px;
	}
	.delete {
		opacity: 0.2;
		position: absolute;
		top: 10px;
		right: 5px;

		color: grey;
		font-family: $sans-serif;

		transition: 0.3s;
		transform: scale(0.9);

		-webkit-backface-visibility: hidden;
	}
	.delete:hover {
		opacity: 1;

		transform: scale(1);
	}
}
.add-trade {
	input {
		width: 100%;

		font-weight: bold;
		font-size: 24px;
		text-transform: uppercase;
	}
	input::placeholder {
		text-transform: lowercase;
	}
	.header {
		margin-right: auto;
	}
}
.trade {
	@include shadow(1);

	flex-flow: row;
	flex-wrap: wrap;

	display: flex;
	cursor: pointer;
	cursor: hand;
	background-color: white;

	// &:hover,
	// &:focus {
	// 	@include shadow(3);

	// 	transform: translateY(-1px);
	// }
	.header {
		flex-flow: row;
		align-items: center;

		display: flex;
		width: 100%;
		.delete {
			width: 20px;
		}
	}
	.meta {
		font-family: sans-serif;
	}
	.meta,
	.ticker .meta {
		width: inherit;
		margin-left: auto;
	}
	.ticker {
		width: auto;
		input,
		p {
			padding-left: 10px;
			border-radius: 0px;
			background: transparent;

			font-weight: bold;
			font-size: 16px;
		}
	}
	.ticker:before {
		content: '$';
		position: absolute;
		top: 50%;
		left: 0;

		font-weight: bold;
		font-size: 16px;
		font-family: $sans-serif;

		transform: translate(0,-50%);
	}
	.ticker-label {
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;

		text-transform: uppercase;
	}
	.header {
		padding: $padding;
	}
	.actions {
		width: calc( 100% - 10px );
		margin: 0px auto 5px auto;
		.action {
			flex-flow: row;

			display: flex;
			width: 100%;
			margin-bottom: 5px;
			padding: 5px 0px;
			border-bottom: 1px solid #ccc;
			border-radius: 2px;
			background-color: #ddd;
			.action-item:first-of-type {
				padding-left: calc( #{$padding} - 5px );
			}
			.action-item:last-of-type {
				margin-right: 0px;
			}
		}
		.action:last-of-type {
			margin-bottom: 0px;
			border-bottom: 0px;
		}
		.pos {
			border-left: 5px solid $mint;
		}
		.neg {
			border-left: 5px solid $pred;
		}
		.value {
			justify-content: center;

			font-weight: bold;
			font-family: $sans-serif;
		}
	}
	.action-item,
	.meta, {
		flex-flow: column;

		display: flex;
		box-sizing: border-box;
		width: calc(100% / 4);
	}
	.meta {
		li {
			padding-left: 15px;
		}
	}
	.action-item:first-of-type {
		padding-left: 0px;
	}
	button {
		margin-bottom: 15px;
		margin-left: auto;
	}
}
.trade.ng-leave {
	opacity: 1;

	transition: 0.5s linear all;
}
.trade.ng-leave.ng-leave-active {
	opacity: 0;
}
.trade.empty {
	padding: $padding/2 $padding;
	border: 2px solid $light-grey;
	background: transparent;

	color: $light-grey;
	font-weight: bold;
	font-size: 12px;

	transition: 0s;
}


button {
	cursor: hand;
	cursor: pointer;
	padding: 5px 15px;
	outline: 0;
	border: 0;
	border: 1px solid #f2f2f2;
	border-radius: 3px;
	background-color: white;

	text-align: center;

	transition: 0.3s;
}
button:hover {
	box-shadow: 0px 3px 10px rgba( 0, 0, 0, 0.05 );
}

@media (max-width: $media-phone) {
	.tracker-tradelist {
		margin-top: 196px;
	}
	form {
		margin-top: 245px;
	}
}
