.home.wrap
	h2.tag All the tools you need to manage your trading effectively.
	ul.dashboard.home-dash
		h2 Current Month
		li.account-total
			span.label( class="pos" ) P/L Total
			p.value( class="pos" ) $7136
		li.average-trade-size
			span.label Avg. Trade Size
			p.value $3452
		li.average-win
			span.label Avg. Win
			p.value( class="pos" ) $542
		li.wins
			span.label Wins
			p.value 15
		li.average-loss
			span.label Avg. Loss
			p.value( class="neg" ) $142
		li.losses
			span.label Losses
			p.value 7
