a-dashboard.dashboard-wrapper(dashboard='aDashboard')
	//- button( type="button" ).add-trade add trade
form(name="add-estimation", method="post", class="tracker-tradelist",  data-lpignore='true')
	a-tradelist.trade-wrapper(tradelist='aTradelist')
