.app-root
	nav
		.nav-logo(ui-sref='homepage')
			.nav-logo-text
				| TradeTracker
			.nav-rule
		.nav-items
			//- .nav-item.account-nav-item(ui-sref='app-root.profile', ng-class='{ selected: toState.name === "app-root.profile" }')
				.nav-item-icon.account-icon
				.nav-item-text
					| Profile
			.nav-item.list-nav-item(ui-sref='app-root.tracker', ng-class='{ selected: toState.name === "app-root.tacker" }')
				.nav-item-icon.list-icon
				.nav-item-text
					| Tracker
			.nav-item.account-nav-item(ui-sref='app-root.account', ng-class='{ selected: toState.name === "app-root.account" }')
				.nav-item-icon.account-icon
				.nav-item-text
					| Settings
			.nav-item.logout-nav-item(ng-click='logout()')
				.nav-item-icon.logout-icon
				.nav-item-text
					| Logout
	.app-content(ui-view='app-content')
